body {
  background: white url('../images/brush50min.png') repeat;
}


.titleBlock, nav, .content {
  background-color: rgb(175, 175, 180);
  padding: 1%;
  border: 2px solid black;
  border-radius: 5px;
 }

h1 {  
  text-align: center; 
  min-height: 2em;
  margin-bottom: 0;
}

nav li {
  color: #777;
}

nav li a, {
  color: black;
}

.homeButton {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0; 
}

.profilePic {
  width: 40%;
  margin: 5px 30%;
  border: 1px solid black;
  border-radius: 5px;
}

footer {
  background-color: white;
  text-align: center;
  height: 25px;
  padding-top: 25px;
  margin-top: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

.container {  
  min-height: calc(100vh - 100px);
}

/*makes element hidden on mobile screen*/
.hiddenMobile {
 display: none;
}

/*makes element visible only on mobile screen*/
.visibleMobile {
  display: initial;
}

@media (min-width: 550px){
  .visibleMobile {
    display: none;
  }
  .hiddenMobile {
    display: initial;
   }
   .profilePic {
    width: 100%;
    margin: 0;
    max-width: 120px;    
  }
  .row {
    margin-top: 60px;
  } 

  .container {
    max-width: 1160px;
    min-height: calc(100vh - 160px);
  }

}